.navbar {
  backdrop-filter: blur(2px); /* Opcional: desenfoque para mejor legibilidad */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* más que el overlay */
  margin-bottom: 20px;
}

ul,
.nav-option {
  margin-left: 50px;
}

.navbar-brand img {
  height: 55px; /* Ajusta según el tamaño deseado */
  width: 100px; /* Ajusta según el tamaño deseado */
  object-fit: contain; /* Mantiene la proporción de la imagen */
  margin: 0 0 0 50px;
  padding: 0;
  display: block;
}
